<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>IoTea : 403 Forbidden</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" th:href="@{'/style.css'}" href="../static/style.css">
  <link rel="stylesheet" th:href="@{'/bootstrap.min.css'}" href="../static/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{'/icons/bootstrap-icons.css'}"
        href="../static/icons/bootstrap-icons.css">
</head>
<body>
<h1>Forbidden</h1>
<script th:src="@{'/bootstrap.bundle.min.js'}" src="../static/bootstrap.bundle.min.js"></script>
</body>
</html>